appsettings.local.json
applicationhost.config

# User-specific files
*.suo
*.user
*.userprefs

# Build directories
Pizzeria/[Bb]in/
Pizzeria/[Oo]bj/
Pizzeria/[Ll]og/

# Visual Studio cache/options directory
.vs/
